node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
api/api_test.py
web-build/
google-services.json

# macOS
.DS_Store

aws-exports.js
google-services.json
